<h2>Mr Intra</h2>

<p>Mr Intra is designed to make your intra viewing easier (and uglier). Type a username below to begin.</p>
<form>
  username:<br>
  <input type="text" name="login name:"><br>
</form>
<button onclick="myFunction()">BEGIN!</button>
<a href="<%= shower_pages_path %>">Click!!!</a>
<%= button_to   'Submit', shower_pages_path,  method: :get %>
